<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DoubleClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.doubleclick</string>
		<key>Name</key>
		<string>DoubleClick</string>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click.2</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>DragDrop</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.toggledrag</string>
		<key>Name</key>
		<string>DragDrop</string>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.and.square.on.square.dashed</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskPause</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.pauseaction</string>
		<key>Name</key>
		<string>IconMaskPause</string>
		<key>SystemImageSymbolName</key>
		<string>pause.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>LeftClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.leftclick</string>
		<key>Name</key>
		<string>LeftClick</string>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>OptionsMenu</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.optionsmenu</string>
		<key>Name</key>
		<string>OptionsMenu</string>
		<key>SystemImageSymbolName</key>
		<string>circles.hexagonpath.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>RightClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.rightclick</string>
		<key>Name</key>
		<string>RightClick</string>
		<key>SystemImageSymbolName</key>
		<string>contextualmenu.and.cursorarrow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>ScrollMenu</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.scrollmenu</string>
		<key>Name</key>
		<string>ScrollMenu</string>
		<key>SystemImageSymbolName</key>
		<string>arrow.up.and.down.and.arrow.left.and.right</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
</dict>
</plist>
